# .gitignore
.env
.venv/
__pycache__/
*.pyc
event.json
test.ipynb
Dockerfile
.dockerignore



$ eval "$(ssh-agent -s)"                                                        
ssh-add --apple-use-keychain ~/.ssh/id_ed25519_work

ssh -T git@github-work  

 git remote set-url origin git@github.com-commandhq:CommandHQ/chat_with_sql.git
